@font-face {
  font-family: Roboto Condensed;
  src: url("public/fonts/RobotoCondensed-Regular.ttf");
}

:root {
  font-family: Roboto Condensed, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* font-size: 32px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0em;
text-align: left; */

* {
  box-sizing: border-box;
}

body {
  background-color: #F4EEE5;
  min-height: 100svh;
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 100vh;
}

#navbar {
  color: white;
  background-color: #222222;
  height: 165px;
  display: flex;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
}

#navbar .menu-icon {
  height: 24px;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

.steps-bar {
  display: flex;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.steps-bar .step {
  height: 24px;
  width: 24px;
  position: relative;

  font-size: 0.70rem;
  text-align: center;
  line-height: 24px;
  font-weight: 700;

  align-items: center;
  vertical-align: middle;

  background: white;
  border-radius: 100%;
}

.steps-bar .step::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;

  width: 100%;
  height: 100%;

  border-radius: 100%;
  border: 1.5px solid #222222;
  pointer-events: none;
}

.step.current {
  background-color: #EEB426;
  color: white;
}

.step.current::after {
  border-color: #EEB426;
}

.step.answered {
  background-color: #222222;
  color: white;
}

.step.answered::after {
  border-color: #222222;
}

.main {
  padding: 2.5rem;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.title {
  text-transform: uppercase;
  font-weight: 400; 
  letter-spacing: 0.06rem;
  line-height: 130%;
  font-style: normal;

  margin-top: 5rem;
  margin-bottom: 5rem;
}

.select-slider {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.select-slider .item {
  background-color: #EEB426;
  cursor: pointer;
  padding: 1.75rem;
  height: 100%;
  transform: rotate(-12deg);
}

.select-slider.item-selected .item:not(.selected) {
  background-color: #E9E4DB !important;
}

.select-slider .item:hover:not(.selected) {
  background-color: white !important;
}

.select-slider .item h2 {
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: 0.02rem;
  margin: 0;
  text-align: center;
  /* line-height: 200%; */
}

.select-slider .item img {
  margin-bottom: 0.5rem;
}

.footer-navbar {
  display: flex;
  flex: 1;
  width: 100%;
  padding: 2.5rem;
  padding-left: 8rem;
  padding-right: 8rem;
  align-self: flex-end;
  justify-content: space-between;
}

.footer-navbar a {
  color: black;
  font-weight: 400;
  line-height: 27px;
  font-size: 1.0633rem;
  letter-spacing: 0.03rem;

  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.8rem;

  padding-bottom: 0.8rem;
  margin-top: auto;
}

/* UTILS */

.dark-beige {
  background-color: #E9E4DB;
}

.test-primary-black {
  color: #222222
}